<footer class="footer-area">
        <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
              <h6 class="font-weight-bold">
                <a [routerLink]="['/Home']" 
                routerLinkActive="active">Home</a>
              </h6>
            </div>
            <div class="col-md-2 mb-3">
              <h6 class="font-weight-bold">
                <a [routerLink]="['/Product']" 
                routerLinkActive="active">Products</a>
              </h6>
            </div>
            <div class="col-md-2 mb-3">
              <h6 class="font-weight-bold">
                <a [routerLink]="['/About']" 
                routerLinkActive="active">About</a>
              </h6>
            </div>
            <div class="col-md-2 mb-3">
              <h6 class="font-weight-bold">
                <a [routerLink]="['/Contact']" 
                routerLinkActive="active">Contact</a>
              </h6>
            </div>
          </div>
          <hr class="rgba-white-light" style="margin: 0 15%;">
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
              <p style="line-height: 1.7rem">Tulja Distributors is working under Waghbakri terms and condition.
              All the product images are subject to copyright with Waghbakri (© 1999-2019 - Wagh Bakri Tea Group). Website is create with <fa-icon [icon]="faHeart" size="lg" [fixedWidth]="true"></fa-icon> by <a href="mailto:bhargavkpandya.22@gmail.com" style="color: #888888;">Bhargav Pandya</a>.</p>
            </div>
          </div>

          <!--<div class="row pb-3">
            <div class="col-md-12">
              <div class="d-flex text-center justify-content-center">  
                <h6>
                <a href="tel:+919824422689">
                  <fa-icon [icon]="faPhoneAlt" size="lg" [fixedWidth]="true"></fa-icon>
                </a>         
              </h6>      
              <h6>
                <a href="mailto:tuljainquiry@gmail.com">
                  <fa-icon [icon]="faEnvelope" size="lg" [fixedWidth]="true"></fa-icon>
                </a>
              </h6>     
              </div> 
            </div>  
          </div>-->
        </div>
        <div class="footer-copyright text-center py-3">
            <p>Copyright ©2019 All rights reserved | 
            This template is partialy made by Colorlib theme.</p>
        </div>
      </footer>